.mediumModal{
    width:100%;
}
.actionTH{
    width:125px;
}

.moduleHeader{
    display: inline-block;margin: 0px
}
.moduleContainer{
    max-height: 750px;overflow: auto;margin-top: 20px
}
.m-t-20{
    margin-top: 20px
}

#updateNSD,updateVNFD,updateInstantiationRequests{
    top: 50px;
    left:100px;
}

#instantiateNSD{
    top: 50px;
}


.modal-content{
    background: rgba(15, 15, 15, 0.8);
    color:white;
    width:940px;
    /*position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, 0%);*/
}

json-tree ul {
  margin: 0;
  background: rgba(255, 255, 255, 0.1);
}
json-tree .key {
  color: #cb4e7f;
}
json-tree .branch-preview {
  max-width: 60%;
}
json-tree .branch-preview::after {
  content: '...';
}

.descriptionpopup {
  border-radius: 10px;
  padding:5px;
  padding-left: 10px;
  border:1px solid grey;
  background:grey;
  color:white;
  height:auto;
  width:auto;
  font-size: 80%;
  text-align: left;
}

.descriptionpopup {
  -webkit-transition:all linear 0.3s;
  transition:all linear 0.3s;
}

.descriptionpopup.ng-hide {
  opacity:0;
}