body{
background: #efefef;
font-family: 'Roboto', sans-serif!important;
}
    [ac-chart] {
            float:left;
            width: 48%;
            height: 400px;
            margin: 0 1%;
        }

.side-nav .collapsible li {
    padding: 0;
    width: 100%;
}

ul#slide-out {
    background: #262B33;
    font-size: 13px;
}
.side-nav a{
    font-size: 13px;
}
#slide-out li.active a {
    color: white!important;
}
.side-nav .fa{
    font-size: 17px;
}
.side-nav.fixed a {
    display: block;
    padding: 0 15px;
    color: rgba(255,255,255,0.5);
}
.side-nav li:hover {
	background-color: none!important;
}
.side-nav li:hover a{
	color:rgba(255,255,255,0.8);
}
.nav-wrapper {
    background: #262B33;
}
main{
	margin:10px;
}
header, main, footer {
    padding-left: 240px;
}
.logo{
    text-align: center;
    background: #FDFDFD;
}
li.logo:hover {
    background: white!important;
}
img {
    position: relative;
    top: 16px;
}
.collapsible-body ul {
    background-color: #1f242a;
}
.side-nav li:hover, .side-nav li.active {
    background-color: #1f242a;
}
.cursored{
    cursor: pointer;
}