[submodule "osm/common"]
	path = osm/common
	url = https://github.com/OrangeOnBlack/common
[submodule "osm/devops"]
	path = osm/devops
	url = https://github.com/OrangeOnBlack/devops
[submodule "osm/Features"]
	path = osm/Features
	url = https://github.com/OrangeOnBlack/Features
[submodule "osm/IM"]
	path = osm/IM
	url = https://github.com/OrangeOnBlack/IM
[submodule "osm/LCM"]
	path = osm/LCM
	url = https://github.com/OrangeOnBlack/LCM
[submodule "osm/LW-UI"]
	path = osm/LW-UI
	url = https://github.com/OrangeOnBlack/LW-UI
[submodule "osm/MON"]
	path = osm/MON
	url = https://github.com/OrangeOnBlack/MON
[submodule "osm/N2VC"]
	path = osm/N2VC
	url = https://github.com/OrangeOnBlack/N2VC
[submodule "osm/NBI"]
	path = osm/NBI
	url = https://github.com/OrangeOnBlack/NBI
[submodule "osm/openvim"]
	path = osm/openvim
	url = https://github.com/OrangeOnBlack/openvim
[submodule "osm/osmclient"]
	path = osm/osmclient
	url = https://github.com/OrangeOnBlack/osmclient
[submodule "osm/SOL005"]
	path = osm/SOL005
	url = https://github.com/OrangeOnBlack/SOL005
[submodule "osm/UI"]
	path = osm/UI
	url = https://github.com/OrangeOnBlack/UI
[submodule "osm/vim-emu"]
	path = osm/vim-emu
	url = https://github.com/OrangeOnBlack/vim-emu
