son-mano-framework/plugins/son-mano-mv/son_mano_mv/multi_version/results/*
son-mano-framework/plugins/son-mano-mv/son_mano_mv/multi_version/parameters/templates/*
son-mano-framework/plugins/son-mano-mv/son_mano_mv/multi_version/parameters/scenarios/*