# Development docker-compose.yml override
version: "3.3"

services:
  # Influxdb for monitoring
  son-monitor-influxdb:
    build: ./son-monitor/influxDB

  # Keycloak
  son-keycloak:
    build: ./son-gkeeper/son-keycloak

  # Gatekeeper GUI
  son-gui:
    build: ./son-gui

  # Gatekeeper BSS
  son-bss:
    build: ./son-bss

  # Gatekeeper -----------------------------------------------------------------
  # SONATA Validator
  son-validate:
    # build: ?

  # Gatekeeper Packages
  son-gtkpkg:
    # build: ./son-gkeeper/son-gtkpkg # Build fails, but will be removed anyway

  # Gatekeeper Services
  son-gtksrv:
    build: ./son-gkeeper/son-gtksrv

  # Gatekeeper Cloud Services
  son-gtkcsrv:
    build: ./son-gkeeper/son-gtkcsrv

  # Gatekeeper Functions
  son-gtkfnct:
    build: ./son-gkeeper/son-gtkfnct

  # Gatekeeper Records
  son-gtkrec:
    build: ./son-gkeeper/son-gtkrec

  # Gatekeeper VIM
  son-gtkvim:
    build: ./son-gkeeper/son-gtkvim

  # Gatekeeper License Manager
  son-gtklic:
    # build: ./son-gkeeper/son-gtklic # Build fails, but will be removed anyway

  # Gatekeeper Key Performance Indicators
  son-gtkkpi:
    # build: ./son-gkeeper/son-gtkkpi # Build fails, but will be removed anyway

  # Gatekeeper User Management
  son-gtkusr:
    build: ./son-gkeeper/son-gtkusr

  # Gatekeeper Rate Limiter
  son-gtkrlt:
    build: ./son-gkeeper/son-gtkrlt

  # Gatekeeper API
  son-gtkapi:
    build: ./son-gkeeper/son-gtkapi
    volumes:
    - ./son-gkeeper/son-gtkapi:/app
    command: 'bash -c "bundle install --quiet && bundle exec rerun -- puma -C config/puma.rb -b tcp://0.0.0.0:5000"'
    tty: true

  # Repositories ---------------------------------------------------------------
  son-catalogue-repos:
    build: ./son-catalogue-repos

  # MANO framework -------------------------------------------------------------
  # MANO Plug-in Manager
  pluginmanager:
    build:
      context: ./son-mano-framework
      dockerfile: ./son-mano-pluginmanager/Dockerfile

  # MANO Service Life-cycle Management
  servicelifecyclemanagement:
    build:
      context: ./son-mano-framework
      dockerfile: ./plugins/son-mano-service-lifecycle-management/Dockerfile

  # MANO Function Lifecycle Management Plugin
  functionlifecyclemanagement:
    build:
      context: ./son-mano-framework
      dockerfile: ./plugins/son-mano-function-lifecycle-management/Dockerfile

  # MANO Specific Manager Registry (SMR)
  specificmanagerregistry:
    build:
      context: ./son-mano-framework
      dockerfile: ./son-mano-specificmanager/son-mano-specific-manager-registry/Dockerfile

  # MANO Placement Executive Plugin
  placementexecutive:
    build:
      context: ./son-mano-framework
      dockerfile: ./plugins/son-mano-placement-executive/Dockerfile

  # MANO Placement Plugin
  placementplugin:
    build:
      context: ./son-mano-framework
      dockerfile: ./plugins/son-mano-placement/Dockerfile

  # MANO Cloud Service Life-cycle Management (CLM)
  cloudservicelifecyclemanagement:
    build:
      context: ./son-mano-framework
      dockerfile: ./plugins/son-mano-cloud-service-lifecycle-management/Dockerfile

  # MANO SDN
  sdn-plugin:
    build:
      context: ./son-mano-framework
      dockerfile: ./plugins/pish-mano-sdn/Dockerfile

  # VIM Adaptor
  vim-adaptor:
    build: ./vim-adaptor


  # Monitoring -----------------------------------------------------------------
  # Monitoring Push Gateway
  son-monitor-pushgateway:
    build: ./son-monitor/pushgateway

  # Monitoring – Prometheus
  son-monitor-prometheus:
    build: ./son-monitor/prometheus

  # Monitoring Manager
  son-monitor-manager:
    build: ./son-monitor/manager

  # Monitoring – Probe
  son-monitor-probe:
    # build: ./son-monitor/ ?

  # Security Gateway -----------------------------------------------------------
  son-sec-gw:
    build: ./son-gkeeper/son-sec-gw
