**/.DS_Store
**/tmp
**/log/*.log
!**/log
**/spec/reports
**/vendor
**/public/files
**/public/packages/*
!**/public/packages
**/Gemfile.lock
**/.bundle
son-gtksrv/db/postgres
son-gtkpkg/vendor
**/.idea/*
**/.project
**/tests/checkstyle/reports
**/tests/unit/reports
