[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pylint = "*"
pytest = "*"
requests-mock = "*"
pytest-watch = "*"
autopep8 = "*"
flake8 = "*"
mongomock = "*"
pytest-env = "*"

[packages]
flask = "*"
connexion = {extras = ["swagger-ui"],version = "*"}
requests = "*"
mongoengine = "*"
flask-mongoengine = "*"
config2 = "*"
flask-redis = "*"
flask-jwt-extended = "*"
fakeredis = "*"
pyyaml = "*"
jsonschema = "*"

[requires]
python_version = "3.6"
