[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pylint = "*"
pytest = "*"
requests-mock = "*"
pytest-watch = "*"
autopep8 = "*"

[packages]
flask = "*"
connexion = {extras = ["swagger-ui"],version = "*"}
requests = "*"
mongoengine = "*"
flask-mongoengine = "*"
mongoengine-goodjson = "*"
python-keycloak = "*"
config2 = "*"

[requires]
python_version = "3.6"
