<div class="container-fluid" ng-animate="'animate'">

    <div class="row">
        <div class="col-xs-12">
            <h2 class="moduleHeader">
                Available Complex Services
            </h2>

            
            <div class="col-md-3 pull-right">                
              <input type="text" class="form-control" placeholder="Search Complex Service" ng-model="cOSDsSearch">
            </div>
        </div>
    </div>

    <div class="col-md-12 m-t-20" >
        <div class="row moduleContainer" >
            <div ng-if="!(cOSDs | searchObject: cOSDsSearch).length"
            class="alert alert-block alert-info">
                <span class="pull-right close" data-dismiss="alert"></span>
                <h4 class="alert-heading">INFO</h4>
                There are no Complex Services here!
            </div>

            <table ng-hide="!(cOSDs  | searchObject: cOSDsSearch ).length"
            class="table table-striped table-hover table-bordered dataTable">
                <thead>
                    <tr role="row">                                        
                        <th role="columnheader" ng-click="sort='name';reverse=!reverse">Name</th>
                        <th role="columnheader" ng-click="sort='name';reverse=!reverse">Description</th>
                        <th role="columnheader" ng-click="sort='vendor';reverse=!reverse">Vendor</th>
                        <th role="columnheader" ng-click="sort='version';reverse=!reverse">Version</th>
                        <th role="columnheader" ng-click="sort='id';reverse=!reverse">Service Id</th>
                        <th role="columnheader" ng-click="sort='license';reverse=!reverse">Licence Type</th>
                        <th role="columnheader" class="actionTH">Actions</th>
                    </tr>
                </thead>
                <tbody role="alert" aria-live="polite" aria-relevant="all" right-menu id="rightContextMenu">                                    
                    <tr ng-repeat="cOSD in cOSDs | searchObject:cOSDsSearch" ng-animate="''" ng-mouseover="showPopover(cOSD)" ng-mouseleave="hidePopover()">

                        <td>{{ cOSD['cosd']['name'] }}</td>
                        <td>{{ cOSD['cosd']['description'] }}</td>
                        <td>{{ cOSD['cosd']['vendor'] }}</td>
                        <td>{{ cOSD['cosd']['version'] }}</td>
                        <td>{{ cOSD['uuid'] }}</td>
                        <td style="text-transform: capitalize;">{{ cOSD['user_licence'] }}<div ng-if="!cOSD['user_licence']">public</div></td>
                        <td>
                            <button class="btn btn-primary btn-xs" tooltip-init
                            data-toggle="tooltip" data-placement="top" title="Show details"
                            ng-click="openUpdateCOSD(cOSD)">
                                <i class="glyphicon glyphicon-search"></i>
                            </button>
                            <button class="btn btn-success btn-xs" tooltip-init
                            data-toggle="tooltip" data-placement="top" title="Instantiate"
                            ng-click="openInstantiateCOSD(cOSD)" ng-show="((cOSD['user_licence'] | uppercase) != 'TO BUY') || !cOSD['user_licence'].length > 0">
                                <i class="glyphicon glyphicon-play"></i>
                            </button>
                            <button class="btn btn-warning btn-xs" tooltip-init
                            data-toggle="tooltip" data-placement="top" title="Request for instantiation licence"
                            ng-click="showModalRequestingLicense(cOSD['uuid'], cOSD['cosd']['licences'][0]['url'])" ng-show="((cOSD['user_licence'] | uppercase) == 'TO BUY') && cOSD['user_licence'].length > 0">
                                <i class="glyphicon glyphicon-alert"></i>
                            </button>
                        </td>
                    </tr>
                </tbody>
            </table>	 
            <div class="descriptionpopup" ng-show="popoverIsVisible"  style="clear:both;">
                <b><u>Description:</b></u>
                <i>{{hoveredCOSD['cosd']['description']}}</i>
            </div>         
        </div>
        <div paging
            class="small"
            page="1" 
            page-size="limit" 
            total="totalRecords"
            show-prev-next="true"
            show-first-last="true"
            text-next-class="glyphicon glyphicon-chevron-right"
            text-prev-class="glyphicon glyphicon-chevron-left"
            text-first-class="glyphicon glyphicon-backward"
            text-last-class="glyphicon glyphicon-forward"
            paging-action="clickPageButton(page)"
            ng-show="cOSDs.length>0">
        </div>  
    </div>

    <ng-include src="'modules/COSD/cOSD/views/updateCOSD.html'"></ng-include>
    <ng-include src="'modules/COSD/cOSD/views/instantiateCOSD.html'"></ng-include>
    <ng-include src="'modules/COSD/cOSD/views/instantiateRequest.html'"></ng-include>
    <ng-include src="'modules/COSD/cOSD/views/getLicense.html'"></ng-include>
    <ng-include src="'modules/COSD/cOSD/views/getLicenseResponse.html'"></ng-include>
    <ng-include src="'modules/common/error.html'"></ng-include>

    <script>
        $(function () {
            $('[data-toggle="tooltip"]').tooltip()
        })
    </script>  
</div>
