<div class="modal fade" id="getLicense" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
     aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <div>
                    <h4 class="modal-title kpiCustomHeading">Obtaining Licence For Service {{service_id}}</h4>
                </div>
            </div>

            <div class="modal-body">
                <div class="row ">
                    <div class="col-xs-12">
                        Please, confirm the Licence request
                    </div>
                </div>
            </div>
            <div class="modal-footer">

                <button class="btn btn-success" ng-click="requestLicense(service_id, licence_url)">Yes</button>
                <button class="btn btn-danger" data-ng-click="emptyCOSD()" data-dismiss="modal">
                    No
                </button>
            </div>

        </div>
    </div>
</div>
