<div class="modal fade" id="instantiateCOSD" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" ng-controller="InstCOSDCtrl">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <div>
                    <h2 class="modal-title kpiCustomHeading">Instantiate {{currentCOSD.cosd.name}} Complex Service</h2>
                </div>
            </div>            
            <div class="modal-body">
                <div class="row"  style="display:flex;justify-content:center;align-items:center;">
                    <div class="col-md-4">
                        <h3>Ingress</h3>
                    </div>
                    <div class="col-md-4" style="display:flex;justify-content:center;align-items:center;">
                        <!---img src="../../../../media/Sonata-atom.png" alt="Service Atom" style="display:inline-block; vertical-align:middle" width="70%" height="70%"-->
                        <img src="../../../../media/Sonata-atom.png" alt="Service Atom" width="70%" height="70%">
                    </div>
                    <div class="col-md-4">
                        <h3>Egress</h3>
                    </div>                    
                </div>                
                <div class="row">
                    <form name="instantiationForm">
                        <div class="col-md-4">                                               
                            <fieldset  data-ng-repeat="ingress in ingresses">
                                <ng-form name='ingressForm'>
                                    <p style="color:red" ng-show='ingressForm.$error.required'>
                                        Both Location and NAP fields required!
                                    </p>                           
                                    <label for="username">Location</label>
                                    <input list="locations" name="ingressLocation" id="ingressLocation" class="form-control" ng-model="ingress.location" placeholder="-- Location --" ng-required='ingress.nap'/>
                                        <datalist id="locations"> 
                                            <option ng-repeat="location in locations" value="{{location}}"/> 
                                        </datalist>                           
                                    <label for="username">Network Attachment Point (NAP)</label>
                                    <input type="text" name="ingressNap" id="ingressNap" class="form-control" ng-model="ingress.nap" placeholder="Enter Network Attachment Point" placeholder='xxx.xxx.xxx.xxx' ng-required='ingress.location' ng-pattern="/^((25[0-5]|2[0-4][0-9]|[01]?[0-9][0-9]?)\.){3}(25[0-5]|2[0-4][0-9]|[01]?[0-9][0-9]?)(\/([0-9]|[1-2][0-9]|3[0-2]))?$/"/>
                                    <span ng-show="ingressForm.ingressNap.$dirty && ingressForm.ingressNap.$error.pattern" class="help-block" style="color:red">NAP: [0-255].[0-255].[0-255].[0-255]/[0-32]</span>
                                    <br><button class="btn btn-warning" ng-show="$last && (ingresses.length > 1)" ng-click="removeIngress()">Remove Ingress</button>
                                    <button class="btn btn-primary" ng-show="$last" ng-disabled="ingressForm.$error.required || ingressForm.$error.pattern || ingressForm.$invalid || !ingress.nap.length" ng-click="addNewIngress()">Add New Ingress</button>                            
                                    <hr ng-hide="$last">
                                    <br ng-show="$last">
                                    <br ng-show="$last">
                                    <br ng-show="$last">
                                    <br ng-show="$last">
                                </ng-form>
                            </fieldset>                                                                           
                        </div>
                        <div class="col-md-4">
                        </div>                                        
                        <div class="col-md-4">                         
                            <fieldset  data-ng-repeat="egress in egresses">
                                <ng-form name='egressForm'>
                                    <p style="color:red" ng-show='egressForm.$error.required'>
                                        Both Location and NAP fields required!
                                    </p>                             
                                    <label for="username">Location</label>
                                    <input list="locations" name="egressLocation" id="egressLocation" class="form-control" ng-model="egress.location" placeholder="-- Location --" ng-required='egress.nap'/>
                                        <datalist id="locations">                                        
                                            <option ng-repeat="location in locations" value="{{location}}"/> 
                                        </datalist>                            
                                    <label for="username">Network Attachment Point (NAP)</label>
                                    <input type="text" name="egressNap" id="egressNap" class="form-control" ng-model="egress.nap" placeholder="Enter Network Attachment Point" ng-required='egress.location' ng-pattern="/^((25[0-5]|2[0-4][0-9]|[01]?[0-9][0-9]?)\.){3}(25[0-5]|2[0-4][0-9]|[01]?[0-9][0-9]?)(\/([0-9]|[1-2][0-9]|3[0-2]))?$/"/>
                                    <span ng-show="egressForm.egressNap.$dirty && egressForm.egressNap.$error.pattern" class="help-block" style="color:red">NAP: [0-255].[0-255].[0-255].[0-255]/[0-32]</span>
                                    <br><button class="btn btn-warning" ng-show="$last && (egresses.length > 1)" ng-click="removeEgress()">Remove Egress</button>
                                    <button class="btn btn-primary" ng-show="$last"  ng-disabled="egressForm.$error.required || egressForm.$error.pattern || egressForm.$invalid || !egress.nap.length" ng-click="addNewEgress()">Add New Egress</button>                            
                                    <hr ng-hide="$last">
                                    <br ng-show="$last">
                                    <br ng-show="$last">
                                    <br ng-show="$last">
                                    <br ng-show="$last">
                                </ng-form>                                                                                                                                               
                            </fieldset>                                                                            
                        </div> 
                    </form>                   
                </div>
            </div>            
            <div class="modal-footer">
                <h4 class="form-control-static pull-left">Please, confirm the Service instantiation:</h4>                        
                <button id="yesButton" class="btn btn-success" ng-disabled="instantiationForm.$error.required || instantiationForm.$invalid || instantiationForm.$error.pattern "" ng-click="instantiateCOSD()">
                    Yes
                </button>
                <button class="btn btn-danger" data-ng-click="emptyCOSD()" data-dismiss="modal">
                    No
                </button>
            </div>

        </div>
    </div>
</div>
