<div class="modal fade" id="instantiateRequest" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
     aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <div>
                    <h4 class="modal-title kpiCustomHeading">Instantiate Request Created with the next request Id</h4>
                </div>
            </div>

            <div class="modal-body">
                <div class="row ">
                    <div class="col-xs-12">
			             <div id="requestId" class="bar">{{instantiateRequest.id}}</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>