*.class
.metadata
*.tmp
*.bak
*.swp
*~.nib
*.sic
*.deb
*.*~
local.properties
.settings/
.loadpath
.recommenders
dependency-reduced-pom.xml

**/target/

# IntelliJ files
.idea/
*.iws
*.iml
.idea_modules/

# Eclipse files
.project
.launch
.classpath
.buildpath
.target

# Netbeans files
nbproject/private/
build/
nbbuild/
dist/
nbdist/
nbactions.xml
.nb-gradle/
build.xml

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
/.idea/
