# {{ ansible_managed }}
127.0.0.1   localhost localhost.localdomain localhost4 localhost4.localdomain4
::1         localhost localhost.localdomain localhost6 localhost6.localdomain6

{% for host in newvm.results %}
{{ host.openstack.accessIPv4 }} {{ host.openstack.name }} {{ plat }}.{{ pop }}.{{ domain_name }}
{% endfor %}

10.100.32.10 mitaka-aion
10.100.16.20 controller
