argh==0.26.2
watchdog==0.10.2
psutil==5.7.0
lxml==4.5.0

##### Core scientific packages
jupyter==1.0.0
matplotlib==3.1.2
numpy==1.18.0
pandas==0.25.3
scipy==1.4.1

# Efficient jobs (caching, parallelism, persistence)
joblib==0.14.0

# Visualize
seaborn==0.9.0
pydot==1.4.1

##### Machine Learning packages
scikit-learn==0.22
scikit-criteria==0.2.10

# Fix to use 2.0
# ./tfbuild/tensorflow-2.0.0-cp36-cp36m-linux_x86_64.whl
./tfbuild/tensorflow-2.1.0-cp36-cp36m-linux_x86_64.whl

# tensorflow==1.5.0
# tensorflow-gpu==1.15.0
# tensorboard==1.15.0
# tensorflow-estimator==1.15.1