# Vim-adaptor files


## Intellij 

.idea/
*.iml

## Eclipse files


vim-adaptor/.project
vim-adaptor/.launch
vim-adaptor/.classpath
vim-adaptor/.buildpath
vim-adaptor/adaptor/.settings/
vim-adaptor/adaptor/bin

## licence_finder docs

vim-adaptor/adaptor/doc

## Python files

vim-adaptor/adaptor/.pydevproject

## mvn outputs

vim-adaptor/adaptor/target
vim-adaptor/reports/

##others

vim-adaptor/*.patch

/bin/
