PyYAML
bottle
MySQL-python
jsonschema
paramiko
argcomplete
requests
logutils
python-openstackclient
python-novaclient
python-keystoneclient
python-glanceclient
python-neutronclient
python-cinderclient
pyvcloud==19.1.1
pyvmomi
progressbar
prettytable
boto
untangle
oca
