<div class="col-md-6 col-md-offset-3">
    <form name="form" ng-submit="vm.register()" role="form">
        <div class="form-group" ng-class="{ 'has-error': form.firstName.$dirty && form.firstName.$error.required }">
            <label for="username">First name</label>
            <input type="text" name="firstName" id="firstName" class="form-control" ng-model="vm.user.firstName" required />
            <span ng-show="form.firstName.$dirty && form.firstName.$error.required" class="help-block">First name is required</span>
        </div>
        <div class="form-group" ng-class="{ 'has-error': form.lastName.$dirty && form.lastName.$error.required }">
            <label for="username">Last name</label>
            <input type="text" name="lastName" id="lastName" class="form-control" ng-model="vm.user.lastName" required />
            <span ng-show="form.lastName.$dirty && form.lastName.$error.required" class="help-block">Last name is required</span>
        </div>
        <div class="form-group" ng-class="{ 'has-error': form.username.$dirty && form.username.$error.required }">
            <label for="username">Username</label>
            <input type="text" name="username" id="username" class="form-control" ng-model="vm.user.username" required />
            <span ng-show="form.username.$dirty && form.username.$error.required" class="help-block">Username is required</span>
        </div>
        <div class="form-group" ng-class="{ 'has-error': form.password.$dirty && form.password.$error.required }">
            <label for="password">Password</label>
            <input type="password" name="password" id="password" class="form-control" ng-model="vm.user.password" required />
            <span ng-show="form.password.$dirty && form.password.$error.required" class="help-block">Password is required</span>
        </div>
        <div class="form-group" ng-class="{ 'has-error': form.userEmail.$dirty && form.userEmail.$error.required }">
            <label for="userEmail">Email Address</label>
            <input type="email" name="userEmail" id="userEmail" class="form-control" ng-model="vm.user.userEmail" required />
            <span ng-show="form.userEmail.$dirty && form.userEmail.$error.required" class="help-block">Email address is required</span>
            <span ng-show="form.userEmail.$dirty && form.userEmail.$error.email" class="help-block">Your email address is invalid</span>
        </div>
        <div class="form-group" ng-class="{ 'has-error': form.phoneNumber.$dirty && form.phoneNumber.$error.required }">
            <label for="phoneNumber">Phone Number</label>
            <input type="phoneNumber" name="phoneNumber" id="phoneNumber" class="form-control" ng-model="vm.user.phoneNumber" ng-pattern="/^\+?\d{2}[- ]?\d{8,9}$/" />
            <!--span ng-show="form.phoneNumber.$dirty && form.phoneNumber.$error.required" class="help-block">Phone number is required</span-->
            <span ng-show="form.phoneNumber.$dirty && form.phoneNumber.$error.pattern" class="help-block">Enter your Phone Number in the format of XX-XXXXXXXXX</span>
        </div>
        <div class="form-actions">
            <button type="submit" ng-disabled="form.$invalid || vm.dataLoading" class="btn btn-primary" ng-class="{'active':currentState.name=='Register'}">Register</button>            
            <a href="#/login" class="btn btn-link">Cancel</a>
        </div>
    </form>

    <ng-include src="'login/success.html'"></ng-include>
    <ng-include src="'modules/common/error.html'"></ng-include>    
    
</div>