<div class="modal fade" id="stopNSR" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
     aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <div>
                    <h4 class="modal-title kpiCustomHeading">Stop Service Instance</h4>
                </div>
            </div>

            <div class="modal-body">
                <div class="row ">
                    <div class="col-xs-12">
                        Are you sure that you want to stop the service instance {{currentNSR.uuid}}?
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button class="btn btn-success" ng-click="stopNSR()">Yes</button>
                <button class="btn btn-danger" data-ng-click="emptyNSR()" data-dismiss="modal">No</button>
            </div>

        </div>
    </div>
</div>