[Unit]
Description=Ping Client
After=syslog.target network.target

[Service]
Type=simple
ExecStart=/opt/rift/ping_pong_ns/start_ping

[Install]
WantedBy=multi-user.target


