openapi: 3.0.0

info:
  version: 1.0.0
  title: Pishahang Gatekeeper API
  description: The definition of the Gatekeeper's public API

servers:
  - url: /api/v3

tags:
  - name: Uploaded Descriptors
    description:
      Descriptors that have been uploaded and can be edited or onboarded, yet cannot
      directly be instantiated
  - name: Onboarded Descriptors
    description: Descriptors that have been onboarded and can be instantiated
  - name: Vim
    description: Vim that have been added and can be edited or deleted

paths:
  /uploaded-descriptors:
    get:
      tags:
        - Uploaded Descriptors
      summary: Get a list of uploaded descriptors
      description: Returns a list of all uploaded descriptors of a specified type
      operationId: gatekeeper.api.descriptors.getUploadedDescriptorsByType
      parameters:
        - name: type
          in: query
          required: true
          description: Specifies the descriptor type
          schema:
            $ref: "#/components/schemas/DescriptorType"
      responses:
        "200":
          description: The list of descriptors was successfully returned.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Descriptors"
        "400":
          $ref: "#/components/responses/Error400"
        "500":
          $ref: "#/components/responses/Error500"
    post:
      tags:
        - Uploaded Descriptors
      summary: Upload a new descriptor
      description: Adds a new descriptor to the database
      operationId: gatekeeper.api.descriptors.addUploadedDescriptor
      requestBody:
        required: true
        content:
          application/json:
            schema:
              required:
                - type
                - descriptor
              properties:
                type:
                  $ref: "#/components/schemas/DescriptorType"
                descriptor:
                  type: object

      responses:
        "200":
          description: The descriptor was successfully updated.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Descriptor"
        "400":
          $ref: "#/components/responses/Error400"
        "404":
          $ref: "#/components/responses/Error404"
        "500":
          $ref: "#/components/responses/Error500"

  /uploaded-descriptors/{id}:
    get:
      tags:
        - Uploaded Descriptors
      summary: Get a descriptor by its ID
      operationId: gatekeeper.api.descriptors.getUploadedDescriptorById
      parameters:
        - name: id
          in: path
          required: true
          description: The ID of the descriptor to be retrieved
          schema:
            type: string
            format: uuid
      responses:
        "200":
          description: The descriptor was successfully returned.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Descriptor"
        "404":
          $ref: "#/components/responses/Error404"
        "500":
          $ref: "#/components/responses/Error500"
    put:
      tags:
        - Uploaded Descriptors
      summary: Update a descriptor by its ID
      description: Updates the content of the descriptor specified by the given ID
      operationId: gatekeeper.api.descriptors.updateUploadedDescriptor
      parameters:
        - name: id
          in: path
          required: true
          description: The ID of the descriptor to be updated
          schema:
            type: string
            format: uuid
      requestBody:
        required: true
        content:
          application/json:
            schema:
              required:
                - descriptor
              properties:
                descriptor:
                  type: object

      responses:
        "200":
          description: The descriptor was successfully added to the database.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Descriptor"
        "400":
          $ref: "#/components/responses/Error400"
        "500":
          $ref: "#/components/responses/Error500"
    delete:
      tags:
        - Uploaded Descriptors
      summary: Delete a descriptor by its ID
      description: Deletes the descriptor with the provided ID if it exists.
      operationId: gatekeeper.api.descriptors.deleteUploadedDescriptorById
      parameters:
        - name: id
          in: path
          required: true
          description: ID of the descriptor to be deleted
          schema:
            type: string
            format: uuid
      responses:
        "200":
          description: The descriptor was successfully deleted.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Descriptor"
        "404":
          $ref: "#/components/responses/Error404"
        "500":
          $ref: "#/components/responses/Error500"
  /vims:
    get:
      tags:
        - Vim
      summary: Get a list of added Vims
      operationId: gatekeeper.api.vims.getAllVims
      responses:
        "200":
          description: The list of Vims was successfully returned.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Vims"
        "400":
          $ref: "#/components/responses/Error400"
        "500":
          $ref: "#/components/responses/Error500"
  /vims/{id}:
    delete:
      tags:
        - Vim
      summary: Delete a Vim by its ID
      description: Deletes the Vim with the provided ID if it exists.
      operationId: gatekeeper.api.vims.deleteVim
      parameters:
        - name: id
          in: path
          required: true
          description: ID of the vim to be deleted
          schema:
            type: string
            format: uuid
      responses:
        "200":
          description: The vim is successfully deleted.
        "404":
          $ref: "#/components/responses/Error404"
        "500":
          $ref: "#/components/responses/Error500"
  /vims/openStack:
    post:
      tags:
        - Vim
      summary: Add a new openStack Vim
      operationId: "gatekeeper.api.vims.addopenStack"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              properties:
                vimName:
                  type: string
                vimAddress:
                  type: string
                country:
                  type: string
                city:
                  type: string
                tenantId:
                  type: string
                tenantExternalNetwrokId:
                  type: string
                tenantExternalRouterId:
                  type: string
                username:
                  type: string
                password:
                  type: string
      responses:
        200:
          description: "Add vim request's uuid returned"
        404:
          $ref: "#/components/responses/Error404"
        500:
          $ref: "#/components/responses/Error500"
  /vims/kubernetes:
    post:
      tags:
        - Vim
      summary: "Add a Kubernetes VIM"
      operationId: "gatekeeper.api.vims.addkubernetes"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              properties:
                vimName:
                  type: string
                country:
                  type: string
                city:
                  type: string
                vimAddress:
                  type: string
                serviceToken:
                  type: string
                ccc:
                  type: string
      responses:
        200:
          description: "Add vim request's uuid returned"
        404:
          $ref: "#/components/responses/Error404"
        500:
          $ref: "#/components/responses/Error500"
  /vims/aws:
    post:
      tags:
        - Vim
      summary: "Add a AWS VIM"
      operationId: "gatekeeper.api.vims.addaws"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              properties:
                vimName:
                  type: string
                country:
                  type: string
                city:
                  type: string
                accessKey:
                  type: string
                secretKey:
                  type: string
      responses:
        200:
          description: "Add vim request's uuid returned"
        404:
          $ref: "#/components/responses/Error404"
        500:
          $ref: "#/components/responses/Error500"
    #     200:
    #       description: Deletion of a descriptor executed successfully
    #     404:
    #       description: A descriptor with this UUID does not exist, or has already been deleted.
  /vims/aws/{id}:
    put:
      tags:
        - Vim
      summary: Update a Vim by its ID
      description: Updates the content of the descriptor specified by the given ID
      operationId: gatekeeper.api.vims.updateVim
      parameters:
        - name: id
          in: path
          required: true
          description: The ID of the vim to be updated
          schema:
            type: string
            format: uuid
      requestBody:
        required: true
        content:
          application/json:
            schema:
              properties:
                accessKey:
                  type: string
                secretKey:
                  type: string

      responses:
        "200":
          description: The descriptor was successfully updated at the database.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Descriptor"
        "400":
          $ref: "#/components/responses/Error400"
        "500":
          $ref: "#/components/responses/Error500"

components:
  schemas:
    VimType:
      type: string
      enum: [openStack, AWS, kubernetes]
    DescriptorType:
      type: string
      enum: [service, vm, cn, fpga]
    Descriptor:
      required:
        - descriptor
      properties:
        id:
          type: string
          format: uuid
        createdAt:
          type: string
          format: date-time
        updatedAt:
          type: string
          format: date-time
        type:
          $ref: "#/components/schemas/DescriptorType"
        descriptor:
          type: object
    Descriptors:
      type: "array"
      items:
        $ref: "#/components/schemas/Descriptor"
    Error:
      required:
        - status
        - detail
      properties:
        status:
          type: number
        detail:
          type: string
    vim:
      required:
        - id
      properties:
        id:
          type: string
          format: uuid
        created_at:
          type: string
          format: date
        updated_at:
          type: string
          format: date
    Vims:
      type: array
      $ref: "#/components/schemas/vim"

  responses:
    Error400:
      description: The request is invalid.
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/Error"
    Error404:
      description: The requested resource could not be found.
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/Error"
    Error500:
      description: An unexpected error occurred.
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/Error"
