[Unit]
Description=Flask classifier
After=network.target

[Service]
WorkingDirectory=/home/scramble
Environment=FLASK_APP=flask-classifier.py
ExecStart=/usr/bin/python /home/scramble/flask-classifier.py
Restart=always

[Install]
WantedBy=multi-user.target